<h1>Getting Started with Ruby</h1>

<p>
  post
</p>

<!--<div>
  <h1>Getting Started with Ruby</h1>
  
  <%= form_tag receive_webhook_path do %>
  inputs something<br>
	  <input type="text" class="form-control title-field" name="abc">
	  <input type="submit" value="送信" class="btn primary-btn">
  <% end %>
</div>-->