<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="VY828dvkuSV4Nle4fUX33ss5IEMQBHc4CSwM2qh3VdA" />
  <title>RubyGettingStarted</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
